:root {
    --background-color: aquamarine;
    --border-color: darkslateblue;
    --font-family: "Manrope", sans-serif;
    --font-weight: 500;
    --font-size: 1.5rem;
    --opacity: 70%;
    --box-shadow: 0 0 3px;
    --border-radius: 10px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url(../assets/forest_layer1.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1.5rem;
}

.points {
    background-color: var(--background-color);
    padding: 1.5rem 4rem 1.5rem 4rem;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    opacity: var(--opacity);
    box-shadow: var(--box-shadow);
}

.level {
    background-color: var(--background-color);
    padding: 1.5rem 4rem 1.5rem 4rem;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    opacity: var(--opacity);
    box-shadow: var(--box-shadow);
}

.info {
    background-color: var(--background-color);
    padding: 1.5rem 4rem 1.5rem 4rem;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    opacity: var(--opacity);
    box-shadow: var(--box-shadow);
}

.fog {
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
    position: absolute;
    left: 13rem;
    bottom: 4.5rem;
    transform: scale(1);
    pointer-events: none;
    cursor: default;
}

.fog.active {
    opacity: 0.3;
    transform: scale(1.2);
    pointer-events: auto;
    cursor: pointer;
}

.fairy {
    position: absolute;
}

.stone_one {
    position: absolute;
    bottom: 6rem;
    left: 7rem;
}

.stone_two {
    position: absolute;
    bottom: 7rem;
    left: 25rem;
}

.stone_three {
    position: absolute;
    bottom: 3rem;
    left: 42rem;
}

.stone_four {
    position: absolute;
    bottom: 8rem;
    left: 57rem;
}

.stone_five {
    position: absolute;
    bottom: 9rem;
    left: 81rem;
}

.mushroom {
    position: absolute;
    bottom: 0.5rem;
    left: 33rem;
    opacity: 90%;
}

.squirrel {
    position: absolute;
    bottom: 5rem;
    right: 23rem;
    opacity: 90%;
}

.owl {
    position: absolute;
    top: 6rem;
    left: 27rem;
    opacity: 90%;
}

.rat {
    position: absolute;
    top: 33rem;
    right: 10rem;
    opacity: 90%;
}

.plant {
    position: absolute;
    bottom: 0.5rem;
    left: 50rem;
}

.mushroom:hover,
.squirrel:hover,
.owl:hover,
.rat:hover,
.plant:hover {
    transition: transform 0.5s ease;
    filter: brightness(1.3);
    transform: scale(1.1);
    cursor: pointer;
}

.player_name {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    position: absolute;
    top: 20rem;
    left: 35rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_name input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    width: 15rem;
    border-radius: 5px;
}

.player_name button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.reset {
    position: absolute;
    bottom: 1.5rem;
    right: 4rem;
    padding: 8px 12px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 1rem;
    background-color: darkgreen;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    opacity: 80%;
}

button:hover {
    background-color: rgb(167, 113, 12);
    transform: scale(1.05);
}